
.reactions{
    display: flex;
    gap: 1rem;
    margin-top: 4rem;

    span{
        display: flex;
        align-items: center;
        gap: .5rem;

        i{
            font-size: 18px;
        }

        i.active{
            color: #d03131;
            animation: pop .5s ease-out forwards;
        }
    }

    a{ 
        text-decoration: none;
    }
}

@keyframes pop {
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}